$background-color: #CCC; //d5d6b0
$font-color: #111;
$title-color: #ffcb2f;
$title-color: desaturate($title-color, 20%);
$background-color: desaturate($background-color, 40%);


$highlight-background-color: #811d1d;
$highlight-font-color: $background-color;

p {
  font-family: 'Volkhov', serif;
  font-weight: 400;
  color: $font-color;
}

a {
  color: $title-color;
}

a:hover, a:visited:hover {
  color: $font-color;
}

a:visited {
  color: darken($title-color, 20%);
}


h1, h2, h3, h4, h5, h6, a.site-title {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  color: $title-color;
  background-color: saturate($highlight-background-color, 10%);
}

h1 {
  font-weight: 900;
}

strong {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  color: #DDD;
}

hr {
  margin: 1em;
  border: none;
  border-bottom: 1px solid;
  border-color: $title-color;
}

body {
  background: $background-color;
}
