{%- assign evocations = site.evocations
  | where:"category", page.title
  | group_by_exp: "item", "item.essence"
  | sort: "name"
-%}

{%- for group in evocations -%}
  <hr />
  <h2>Essence {{group.name}}</h2>
  <hr />
  {%- for evocation in group.items -%}
    {%- unless forloop.first -%}
      <hr style="width: 50%" />
    {%- endunless -%}
    <h3 id="{{ evocation.title | slugify }}">{{ evocation.title }}</h3>
    {%- include evocations/data.html evocation=evocation -%}
    <div>
      {{ evocation.content }}
    </div>
  {%- endfor -%}
{%- endfor -%}
