{%- assign evocations = site.evocations
  | where:"category", page.title
  | group_by_exp: "item", "item.essence"
  | sort: "name"
-%}

{%- for group in evocations -%}
  {%- if forloop.first -%}
  <hr/>
  <h1>Evocations:</h1>
  {%- endif -%}
  <h2>Essence {{group.name}}</h2>
  {%- for evocation in group.items -%}
    <div class="card">
      <h3 id="{{ evocation.title | slugify }}">{{ evocation.title }}</h3>
      <hr />
      {%- include evocations/data.html evocation=evocation -%}
      <div>
        {{ evocation.content }}
      </div>
    </div>
  {%- endfor -%}
{%- endfor -%}
